@media (max-width: 850px) {
  #new-create-topic span {
    display: none;
  }
  #new-create-topic i {
    margin-right: 0;
  }
}

@if $New_topic_button_text == "" {
  #new-create-topic span {
    display: none;
  }
  #new-create-topic i {
    margin-right: 0;
  }
}

@if $Hide_default_button == "true" {
  button#create-topic {
    display: none;
  }
}

#new-create-topic {
    float: right;
    font-size: 1.1rem !important;
    background-color: #3cc1b7 !important;
    color: #011f3d !important;
    font-weight: bold !important;
  
    .svg-icon {
      color: #011f3d !important;
    }
}


body.category-news:not(.staff) #new-create-topic,
body.category-news:not(.staff) #create-topic,
html:not(.anon) .before-create-topic-button-outlet #new-create-topic,
html.anon body.categories-list.category.category-webmethods-cloudstreams-connectors .navigation-controls #new-create-topic {
    display: none !important;
}

@media (max-width: 850px){
  #new-create-topic span {
    display: inline-block !important;
  }
}

.archetype-private_message {
	#new-create-topic {
    display: none;
  }
}
