#new-create-topic {
    float: right;
    font-size: 1.1rem !important;
    background-color: #3cc1b7 !important;
    color: #011f3d !important;
    font-weight: bold !important;
    padding: 17px 0.5em 16px 0.5em !important;
  
    .svg-icon {
      color: #011f3d !important;
    }
}
